:root {
  /* Spacing (0.25rem increments) */
  --space-xxs: 0.125rem; /* 2px */
  --space-xs: 0.25rem; /* 4px */
  --space-sm: 0.5rem; /* 8px */
  --space-md: 1rem; /* 16px */
  --space-lg: 1.5rem; /* 24px */
  --space-xl: 2rem; /* 32px */
  --space-2xl: 3rem; /* 48px */
  --space-3xl: 4rem; /* 64px */
  --space-4xl: 6rem; /* 96px */

  /* Font Sizes */
  --text-xs: 0.75rem; /* 12px */
  --text-sm: 0.875rem; /* 14px */
  --text-md: 1rem; /* 16px */
  --text-lg: 1.25rem; /* 20px */
  --text-xl: 1.5rem; /* 24px */

  --font-primary: "Inter", sans-serif;
  --font-secondary: "Roboto", sans-serif;

  /* Shadows */
  --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.05);
  --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 10px 15px rgba(0, 0, 0, 0.15);

  --primary-color: #6c8ebf;
  --secondary-color: #e0e0e0;
  --accent-color: #a4de02;
  --background-color: #fafafa;
  --text-color: black;
  /* --text-color: #444444; */
}

/* ----- CSS reset ------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  font-family: var(--font-primary);
  color: var(--text-color);
}

ul,
ol {
  list-style: none;
  padding: unset;
}

/* ----- Font layout ------ */
/* Text Size Utility Classes */
.text-xs {
  font-size: var(--text-xs);
  font-weight: 300;
  line-height: 1.3;
}

.text-sm {
  font-size: var(--text-sm);
  font-weight: 300;
  opacity: 0.9;
  line-height: 1.4;
}

.text-md {
  font-size: var(--text-md);
  font-weight: 400;
  line-height: 1.6;
}

.text-lg {
  font-size: var(--text-lg);
  font-weight: 400;
}

.text-xl {
  font-size: var(--text-xl);
  font-weight: 400;
  font-family: var(--font-secondary);
}

/* ----- FLEX layout ------ */

.display-row {
  display: flex;
}

.display-col {
  display: flex;
  flex-direction: column;
}

/* Centers the entire content horizontally and vertically within the container */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Centers grid items both horizontally and vertically within the container */
.center-grid {
  display: grid;
  justify-items: center;
  align-items: center;
}

.justify--between {
  justify-content: space-between;
}

.align--center {
  align-items: center;
}

.align--end {
  align-items: flex-end;
}

.no-wrap {
  flex-wrap: nowrap;
}

.hidden {
  display: none;
}

/* --- page wrapper Utility Classes --- */

.page-wrapper {
  height: 100%;
  display: grid;
  grid-template-rows: 4.25rem 1fr;
  width: 420px;
  height: 926px;
  overflow: hidden;
  border: 1px solid black;
  position: relative;
  border-radius: 10px;
}

.page-wrapper__top-bar {
  position: relative;
  border-bottom: 2px solid black;
}

.page-wrapper__heading {
  text-transform: capitalize;
}

.page-wrapper__icon {
  position: absolute;
  top: 50%;
  right: var(--space-sm);
  transform: translateY(-50%);
}

.page-wrapper__side-bar {
  width: 75%;
  position: absolute;
  right: 0;
  background-color: white;
  border-left: 2px solid black;
  padding: var(--space-md) var(--space-xl);
  display: grid;
  grid-template-rows: auto 1fr auto;
  transform: translateX(100%);
  max-width: 17.25rem;
}

.side-bar__close-button {
  position: absolute;
  left: var(--space-sm);
  top: var(--space-sm);
}

/* Open state */
.side-bar--open {
  animation: slideIn 0.3s forwards;
}

/* Close state */
.side-bar--close {
  animation: slideOut 0.3s forwards;
}

.page-wrapper__side-bar > h2 {
  text-align: center;
  margin-bottom: var(--space-2xl);
}

.page-wrapper__side-bar > ul {
  gap: var(--space-lg);
}

.page-wrapper__username {
  text-align: center;
}

.page-wrapper__page-content {
  overflow-y: auto;
}

.page-wrapper__list {
  padding: var(--space-xl) var(--space-md) var(--space-md);
  display: flex;
  flex-flow: column nowrap;
  gap: var(--space-sm);
}

/* Keyframe for opening */
@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

/* Keyframe for closing */
@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

/* --- Button Utility Classes --- */

.button,
.icon-button,
.close-button,
.add-button {
  outline: none;
  appearance: none;
  cursor: pointer;
  font-size: var(--text-md);
  font-weight: 400;
  transition: all 0.3s;
}

.button--confirmation {
  width: 100%;
  border-radius: 10px;
  padding: var(--space-sm);
}

.button--cancel {
  background-color: #ffd3d3;
}

.button--confirm {
  background-color: #daffeb;
}

.icon-button {
  height: 40px;
  aspect-ratio: 1;
}

.icon-button__icon {
  width: 30px;
  height: 24px;
}

.close-button {
  border-radius: 50% !important;
  font-size: var(--text-xl);
  font-weight: 500;
  text-align: center;
  line-height: 100%;
  height: 30px;
}

.add-button__container {
  display: flex;
  gap: var(--space-sm);
  align-items: flex-end;
  flex-direction: row-reverse;
  position: absolute;
  bottom: var(--space-lg);
  right: var(--space-lg);
}

.add-button {
  width: 75px;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-button__suggestion {
  padding: var(--space-xs) var(--space-sm) !important;
  border-radius: 10px;
  cursor: pointer;
}

.recurring {
  border-radius: var(--space-2xl);
  width: auto;
  white-space: nowrap;
  padding: var(--space-sm) var(--space-md);
  background-color: unset;
}

.recurring--selected {
  background-color: black !important;
  color: white;
}

/* ---------- item filter classes --------*/

.filter {
  gap: var(--space-xs);
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding-right: var(--space-md);
  max-width: 100vw;
  overflow-x: scroll;
  background-color: white;
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.filter--expanded {
  height: 100%;
  max-height: 25vh;
  flex-wrap: wrap;
  padding-right: unset;
  padding: var(--space-sm);
}

.filter__buttonCont {
  position: sticky;
  left: 0;
  padding: var(--space-sm) var(--space-sm);
  background-color: white;
}

.filter__buttonCont--expanded {
  padding: unset;
  background-color: transparent;
}

.filter__button {
  font-weight: 500;
  background-color: white;
}

/* --- MSC --- */

.height-full {
  height: 100%;
}

.width-full {
  width: 100%;
}

.pointable {
  cursor: pointer;
}

.border-radius {
  border-radius: 10px;
}

.modal {
  position: absolute;
  inset: 0;
}

.overflow-hidden {
  overflow: hidden;
}

.background-blur {
  background-color: rgba(128, 128, 128, 0.2);
}

/* --- init list item classes --- */

.initList__container {
  border: 1px solid black;
  padding: var(--space-sm) var(--space-md);
}

.initList__leftSide {
  gap: var(--space-xs);
}

.initList__leftButtom {
  gap: var(--space-sm);
}

.initList__rightSide {
  align-items: flex-end;
  gap: var(--space-md);
}

.initList__amountContainer {
  opacity: 0.75;
}

.initList__date {
  white-space: nowrap;
}

.initList__tag {
  background-color: #86ff86;
  border-radius: 5px;
  width: 1.75rem;
  height: 1rem;
}

.initList__tag--sec {
  background-color: yellow;
}

.item {
  gap: var(--space-md);
  border: 1px solid black;
  padding: var(--space-md) var(--space-lg);
}

.item--sec {
  background-color: grey;
}

.item__label {
  text-transform: capitalize;
  white-space: nowrap;
  font-weight: 500;
}

.item__labelContainer {
  gap: var(--space-xs);
}

.item__buttonContainer {
  gap: var(--space-md);
}

.item__button--checkbox {
  transform: scale(2.25);
}

.item__button--delete {
  background-color: #ffd3d3;
}

.item__button--accept {
  gap: var(--space-sm);
}

.item__descriptionInput {
  padding: var(--space-md);
}

.item__categoryContainer {
  text-transform: capitalize;
}

.item__categoryIconContainer {
  margin-bottom: var(--space-xxs);
  gap: var(--space-xs);
}

.item__category {
  font-weight: 500;
  opacity: 1;
}

.item__categoryIcon {
  width: 16px;
}

.item__poster {
  letter-spacing: 0.5px;
  opacity: 0.75;
}

.item__bottomButton {
  background-color: #ffd3d3;
}

/* --- create/edit list classes --- */

.listModal {
  border: 1px solid black;
  padding: var(--space-sm) var(--space-md) var(--space-lg);
  width: 100%;
  max-width: 22.25rem;
  background-color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 15%;
}

.listModal__title {
  margin-bottom: var(--space-lg);
}

.listModal__inputContainer {
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: var(--space-lg) var(--space-md);
  gap: var(--space-md);
  width: 100%;
  margin-bottom: var(--space-md);
}

.listModal__buttonsContainer {
  width: 100%;
  gap: var(--space-md);
}

.listModal__recurringContainer {
  border: 1px solid rgba(0, 0, 0, 0.5);
  width: 100%;
  margin-bottom: var(--space-xl);
  padding: var(--space-sm) var(--space-md);
  min-height: 3.125rem;
}

.listModal__recurringbody {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-sm);
  width: 100%;
  padding: var(--space-md) 0;
}

/* --- input classes --- */
.input {
  border-radius: 5px;
  height: 2.5rem;
  font-size: var(--text-sm);
  padding: 0 var(--space-md);
  font-family: var(--font-primary);
  letter-spacing: 1px;
}

.input__label {
  margin-bottom: var(--space-xs);
}

.input--subtle {
  border: none;
  border-bottom: 1px solid black;
  border-radius: unset !important;
  background-color: rgba(0, 0, 0, 0.1);
  font-weight: 500;
}

.input--subtle:focus-visible {
  outline: unset;
}

/* --- menu classes --- */

.menu {
  border: 1px solid black;
  padding: var(--space-sm) 0;
  min-width: 11.125rem;
  width: fit-content;
  position: fixed;
  background-color: white;
}

.menu > li {
  border-bottom: 1px solid black;
}

.menu > li:first-child {
  border-top: 1px solid black;
}

.menu__icon {
  width: 18px;
}

.menu__button {
  width: 100%;
  padding: var(--space-sm) var(--space-md);
  outline: none;
  border: none;
  text-transform: capitalize;
  gap: var(--space-sm);
  background: unset;
}

.username {
  padding: var(--space-lg);
  border: 1px solid black;
  gap: var(--space-xl);
}

.username__button {
  border-radius: 10px;
  padding: var(--space-sm) 0;
  font-size: var(--text-md);
  background-color: #daffeb;
}

.role {
  gap: var(--space-sm);
}

.role-button {
  font-size: var(--text-sm);
  color: black;
  padding: var(--space-xs) var(--space-md);
  cursor: pointer;
  background-color: #f9f9f9;
  transition: background-color 0.3s ease;
  border-radius: 10px;
}

.role-button.selected {
  background-color: #4caf50;
  color: white;
}

.secondary-role-button.selected {
  background-color: yellow;
  color: black;
}
